.container {
    max-width: 980px;
    padding: 60px;
    margin: 0 auto;
}

.clearfix  {
    position: relative;
    margin-top: 160px;
    padding: 10px;
    text-align: center;
}

.clearfix img {
    position: relative;
    width: 172px;
    background-color: white;
    box-shadow: 5px black;
    float: right;
    margin-top: -100px;
    padding: 10px;
    z-index: 2; 
}

.clearfix:nth-child(even) {
    transform: translate(10px, 0px);
    transform: rotate(8deg);
}

.clearfix:nth-child(odd) {
    transform: translate(40px, -30px);
    transform: rotate(-5deg)
}

.clearfix:nth-child(3n) {
    transform: translate(7px, -40px);
    transform: rotate(15deg);
}

.clearfix:nth-child(5n){
    left: 5px;
    top: 20px;
}

.clearfix:nth-child(6n) {
    transform: translate(-10px, -30px);
    transform: rotate(15deg);
}

.clearfix:nth-child(9n) {
    transform: translate(-10px, -30px);
    transform: rotate(22deg);
}

img:hover {
    box-shadow: 15px 15px 20px rgba(0,0,0,0.6);
    transform: rotate(180deg);
    transform: scale(1.5,1.5);
    z-index: 10;    
}

img {
    transition: all 0.4s ease-in 0s;
}

.clear {
    clear:left, right;
}